/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: hsl(244, 80%, 37%); /* Fondo neutro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Centrar el formulario */
form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #0056b3; /* Color azul SUBE */
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #0056b3; /* Azul SUBE */
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #004494;
}

/* Imagen del logo */
#sube-logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 120px; /* Ajusta el tamaño según sea necesario */
}

/* Responsive design */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }

    input[type="email"],
    input[type="password"] {
        padding: 8px;
    }

    button {
        padding: 8px;
    }
}
